.App {
  position: relative;
  background-color: #170312;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-align: center;
}

.App-logo {
  height: 10vh;
  margin: 5vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite .5s ease-in-out;
    animation-direction: alternate;
  }
}

@keyframes App-logo-spin {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 3vh);
  }
}

.icon-author {
  position: absolute;
  bottom: 0;
  left: center;
  color: grey;
  font-size: 10px;
}

.icon-author a {
  color: grey;
  text-decoration: none;
}

.sliders {
  width: 85vw;
  max-width: 640px;
  text-align: left;
}
